<!DOCTYPE html>
<html>

	<head>

		<title>Главная страница</title>
	</head>
	<body>
		<h3>Заголовек</h3>
		<p>Первое представление!</p>
		<a href="/home/employees">Список сотрудников</a>
	</body>
</html>